@model Book[]

@{
    ViewData["Title"] = "Результат пойска";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

    @if (Model.Length == 0)
    {
        <P>Ничего не найдено</P>
    }
    else
    {
        <ul>
            @foreach(var book in Model)
        {
            <li><a href="@Url.Action("Index", "Book",new{ id = book.Id})" >@book.Title </a></li>
        }
    </ul>
     }
    